<launch>
    <!-- Change this to where to get cloud in -->
    <!-- <arg name="Cloud_in_octo" value="/pcl_render_node/local_map"/> -->
    <node pkg="mapmerge" name="mapmerge" type="mapmerge" output="screen">
        <!-- <param name="Cloud_in_local" value="/pcl_render_node/cloud" />
        <param name="Cloud_in_global" value="/Publish_out" />
        <param name="Publish_out" value="/MapMerged" /> -->
    </node>


    <!-- <include file="$(find autoSSAR)/launch/octomap.launch">
        <param name="Cloud_in" value="$(arg Cloud_in_octo)"/>
    </include> -->
</launch>