<launch>

      <!-- enable costume namespaces -->
    <arg name="ns0" default="UAV0"/>

<!-- Start traversal utils -->
    <node pkg="dist_traversed" name="dist_traversed" type="dist_traversed" ns="$(arg ns0)"/>



<!-- Start coordination algorithm -->
    <node pkg="coordination" name="coordination" type="coordination" output="screen" ns="$(arg ns0)">
        <param name="maxBattery" value="26"/>
    </node>


<!-- Start rosbag for saving last run -->
    <node pkg="rosbag" type="record" name="time_size_dist_$(arg ns0)"
    args="-O /home/malle/AutoSSAR/catkin_ws/bagfiles/time_size_dist_$(arg ns0) $(arg ns0)/mapSize $(arg ns0)/dist_traversed $(arg ns0)/within_range"/>

</launch>